body {
    text-align: center;
}
.modal_body{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    background: #f44194;
    transform: translate(-50%, -70%);
    border-radius: 5px;
    color: #fff;
    }

    .modal_button{
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }
    .hide{
        display: none;
    }

    .modal_heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 1.5rem;
        border-bottom: 1px solid gray;
    }
    .modal_close{
        font-size: 2rem;
        font-weight: bold;
    }
    button{
        width: 80px;
        height: 40px;
        background-color: #fff;
        color: #a7f442;
        font-size: 20px;
        border-radius: 5px;
    }
